  {% extends 'chamado/base.html' %}
  
  {% block content %}
  <div class="content container-fluid">

    <table class="table center" >
      <thead>
        <tr>
          <th><input type="checkbox" id="marcar_todos"></th>
          <th>id</th>
          <th>Titulo</th>
          <th>Descrição</th>
          <th>Status</th>
          <th>Data Abertura</th>
          <th>Última atualização</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
      {% for chamado in chamados%}
        <tr>
          <th><input type="checkbox" id="marcar_chamado"</th> 
          <td scope="row">{{chamado.id_chamado}}</td>
          <td>
            <a href="{% url 'chamado_detail' pk=chamado.pk%}">
              {{chamado.titulo_chamado}}
            </a>
          </td>
          <td>{{chamado.descricao}}</td>
          <td>{{chamado.status}}</td>
          <th>{{chamado.data_abertura}}</th>
          <th>{{chamado.data_alteracao}}</th>
          <td>
            <a href="{% url 'chamado_edit' pk=chamado.pk %}">
              <button type="button" class="btn btn-info">
                Editar
              </button>
            </a>
          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>

  </div>
{% endblock %}